# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.tox/

# Type checking / linting
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDEs / editors
.vscode/
.idea/

# OS
.DS_Store

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

*.exe
Razvan/Snake
